//- 이 파일을 호출하는 ../_mixins.pug 파일은 ../base.pug 파일에서 include 되어있어,
//-  index와 비밀번호 찾기 페이지를 제외한 모든 페이지에서 따로 include 없이 사용 가능합니다.

//- Bulletn Board Post Write Template [ 게시판 글 수정 템플릿 ]
//- 글 수정 템플릿은 글 쓰기 템플릿과 기본적인 구조와 스타일은 거의 유사하며,
//- 작성했던 게시글 정보를 페이지 초기화시 그대로 가져온다는 점과, 인자로 받는 url이 다른점입니다.
mixin postUpdate(referrer, postData)
  article.post-write
    form(action="" method="post" enctype="multipart/form-data").post-write__form
      .post-write__title__wrap
        label.post-write__title__label 제목
        input(type="text" name="title" value= postData.title required).post-write__title__input
      // 파일 관련 이후 추가 예정
      // 서버단에서 불러올 수 있는 이미지 url로 던져주면,
      // 하나의 이미지 컴포넌트로 변경하여 로딩할 수 있도록 할 예정
      //- .post-write__file__wrap
      //-   label.post-write__file__label 파일
      //-   input(type="file" name="file").post-write__file__input
      .post-write__paragraph__wrap
        label.post-write__paragraph__label 내용
        textarea(name="paragraph" value= postData.content required).post-write__paragraph__input
      .post-write__submit__wrap
        -const updatePagePath = `${referrer}/update?_method=PATCH`
        button(type="submit" name="" formaction= updatePagePath).post-write__submit__btn 수정하기