//- 이 파일을 호출하는 ../_mixins.pug 파일은 ../base.pug 파일에서 include 되어있어,
//-  index와 비밀번호 찾기 페이지를 제외한 모든 페이지에서 따로 include 없이 사용 가능합니다.

//- Bulletn Board Post Write Template [ 게시판 글 수정 템플릿 ]
//- 글 수정 템플릿은 글 쓰기 템플릿과 기본적인 구조와 스타일은 거의 유사하며,
//- 작성했던 게시글 정보를 페이지 초기화시 그대로 가져온다는 점과, 인자로 받는 url이 다른점입니다.
mixin postUpdate(referrer, postData)
  article.post-update
    form(action=`${referrer}/update?_method=PATCH` method="post" enctype="multipart/form-data").post-update__form
      .post-update__title__wrap
        label.post-update__title__label 제목
          input(type="text" name="title" maxlength="30" value= postData.title required).post-update__title__input
      .post-update__paragraph__wrap
        label.post-update__paragraph__label 내용
        textarea(name="content" required).post-update__paragraph__input= postData.content
      .post-update__submit__wrap
        ul.post-update__submit__refuse-msg-list
        submit(name="submit").post-update__submit__btn 수정하기