/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.find {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }

  &__form {
    @include auth-form;
    background-color: rgba(black, 0.8) !important;
    min-width: 420px;

    &--send-email {
      min-height: 450px;
    }

    &--hash {
      min-height: 420px;
    }

    &--reset {
      min-height: 450px;
    }

    &__return-btn {
      display: none; // 뒤로가기 기능 미구현. 임시 삭제
      position: absolute;
      top: 1rem;
      left: 1rem;
      @include svg-btn(1rem);
      @include top-left-btn--media;
    }

    &__close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      @include svg-btn(1rem);
      @include top-right-btn--media;
    }

    &__title {
      color: $auth__font-color--after;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 4rem;
      transition: 0.5s;
      pointer-events: none;
      white-space: nowrap;

      @include for-size(mobile-fold-landscape) {
        display: none;
      }
    }

    &__input-box {
      position: relative;
    }

    &__input {
      @include border-bottom($auth__font-color--before, 1px);

      width: 100%;
      margin-bottom: 2.6rem;
      outline: none;
      background-color: transparent;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: $auth__font-color--after;
      overflow-wrap: normal;

      &-label {
        @include position(absolute, 0, 0);
        color: $auth__font-color--before;
        opacity: 0.6;
        letter-spacing: -0.066rem;
        pointer-events: none;
        transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint */
        will-change: contents;
      }

      &:-webkit-autofill {
        &,
        &:hover,
        &:focus,
        &:active {
          -webkit-background-clip: text;
          -webkit-text-fill-color: $auth__font-color--after !important;
        }
      }

      &-check {
        position: absolute;
        right: 0;
      }

      @include for-size(mobile-fold-landscape) {
        padding: 0.05rem 0;
      }
    }

    &__btn {
      @include btn-rectangle(1rem 0, true, true);
      position: relative;
      top: 1rem;
      width: 100%;
      color: #fff;
      cursor: pointer;

      &--send-email {
        background-color: $main-color--silver;
      }

      &--hash {
        background-color: $main-color--silver;
      }

      &--reset {
        background-color: $main-color--silver;
      }
    }

    @include auth__form--media;
  }
}
