.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10000;

  $loading-size: 4em;

  &__svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $loading-size;
    height: $loading-size;

    & > rect {
      width: 100%;
      height: 100%;
      fill: none;
      stroke-width: $loading-size;
      stroke: $main-color;
      stroke-dasharray: $loading-size;
      stroke-dashoffset: 50%;
      animation: loading 1s linear infinite;
    }
  }

  @keyframes loading {
    to {
      stroke-dashoffset: 250%;
    }
  }
}
