/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.post-view {
  border-top: 3px solid $main-color;
  width: 100%;
  padding: 0.8rem;

  &__header {
    font-weight: 500;
    display: grid;
    grid-template:
      'title title title' 2.5rem
      'createdAt writer hit' 2rem
      / 6rem 4rem 1fr;
    gap: 0.6rem;

    &__title {
      grid-area: title;
      font-size: 1.4rem;
      color: $main-color--black;
    }

    &__prop {
      font-size: 0.9rem;
      color: #777;

      &::after {
        content: '　|';
        color: #ccc;
      }
    }

    &__writer {
      grid-area: writer;
    }
    &__createdAt {
      grid-area: createdAt;
    }
    &__hit {
      grid-area: hit;
    }
  }

  &__content {
    padding: 2rem 0.5rem;
    &__images {
      margin-bottom: 2rem;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__btn {
      @include btn-rectangle(true, true, true);
      padding: 0.5rem 1rem;

      &--board {
        width: fit-content;
        padding: 0.5rem 1rem;
        color: $main-color--white;
        background-color: $main-color--dark-silver;
      }
    }
    &__form {
      display: flex;

      &--update {
        background-color: $main-color;
        color: $main-color--white;
        margin-right: 0.2rem;
      }

      &--delete {
        background-color: $main-color--silver;
        color: white;
      }
    }
  }
}
