/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.post-write {
  display: flex;
  flex-direction: column;

  &__wrap {
    &--title {
    }
    &--file {
    }
    &--paragraph {
    }
  }

  &__label {
  }

  &__title {
    &__label {
    }
    &__input {
    }
  }

  &__file {
    &__label {
    }
    &__input {
    }
  }

  &__paragraph {
    &__label {
    }
    &__input {
    }
  }

  &__submit {
    @include btn-rectangle(1rem 0, true, true);
    color: white;
    font-size: 1.05rem;
    background-color: $main-color;
  }
}
