/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.post-list {
  position: relative;
  width: 100%;
  height: 100%;
  color: #444;

  &__header {
    display: grid;
    grid-template-columns: [number]10% [title]50% [writer]15% [hit]10% [reg-data]15%;
    width: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: $main-color--white;
    border-top: 3px solid $main-color;
    border-left: 1px solid $main-color--silver;

    @include for-mobile {
      display: none;
    }

    &__prop {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 100%;
      height: 100%;
      padding: 1.33rem 0.5rem;
      border-right: 1px solid $main-color--silver;
    }
  }

  &__item {
    display: grid;
    grid-template:
      'number title writer hit regTime' 1fr
      / 10% 50% 15% 10% 15%;
    width: 100%;
    padding: 1.33rem 0;
    border-bottom: 0.002rem solid $main-color--silver;
    font-size: 1.05rem;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &__number {
      grid-area: number;
    }

    &__title {
      grid-area: title;
      width: fit-content;
      justify-content: flex-start !important;
      color: #111 !important;
      font-size: 1.05em;
    }

    &__writer {
      grid-area: writer;
    }

    &__hit {
      grid-area: hit;
    }

    &__createdAt {
      grid-area: regTime;
    }

    &:hover,
    &:focus {
      background-color: rgba(black, 0.02);
      font-weight: 700;
    }

    @include for-mobile {
      grid-template:
        'number title title title' 1.5rem
        'number writer hit regTime' 1.5rem
        / 5rem fit-content(100%) fit-content(100%) 1fr;
      gap: 0.6rem 0;

      &:nth-child(odd) {
        background-color: rgba(black, 0.03);

        &:hover,
        &:focus {
          background-color: rgba(black, 0.08);
        }
      }

      &__writer,
      &__hit {
        justify-content: flex-start;
        white-space: nowrap;

        &::after {
          content: '|';
          color: #ccc;
          position: relative;
          margin: 0 1rem;
        }
      }

      &__createdAt {
        justify-content: flex-start;

        white-space: nowrap;
      }

      &__title {
        font-size: 1.35rem;
      }
    }
  }

  /* 이 아래로 페이지네이션 버튼과 그 외 버튼들 */
  &__btns {
    position: relative;
    display: grid;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;

    @include for-size(mobile-landscape) {
      flex-direction: column;
    }
    @include for-size(mobile-portrait) {
      flex-direction: column;
    }
  }

  /* 글쓰기 버튼 */
  &__write-btn {
    justify-self: end;
    color: white;
    width: fit-content;
    background-color: $main-color;
    @include btn-rectangle(0.66rem 0.9rem, true, true);
  }

  /* 페이지 네이션 버튼들 */
  &__inner-paging {
    position: relative;
    justify-self: center;
    display: flex;
    align-items: center;
  }

  &__paging-numbers {
    display: flex;

    &__number {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      color: #7a7a7a;
      margin: 0.2rem 0.5rem;
      padding: 0.1rem 0.3rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #cccccc;
      }

      &--highlight {
        font-size: 1.8rem;
        font-weight: 700;
        cursor: initial;
      }

      &--highlight:hover,
      &--highlight:focus {
        background-color: inherit;
      }
    }
  }

  &__paging-chevron {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    color: #6e6e6e;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: transform 0.01s ease-in-out;

    &:hover,
    &:focus {
      transform: translateY(-50%) scale(1.15);
      background-color: #cccccc;
    }

    & > svg {
      // 컬러는 템플릿 엔진 icon_mixin.pug 에서 담당합니다
      position: relative;
      top: -0.2em;
      width: 100%;
      height: 100%;
    }

    &--left {
      left: -2rem;
    }

    &--right {
      right: -2rem;
    }

    &--disabled {
      display: none;
    }
  }

  &__empty-guide-msg {
    // create from [pageName].js
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > * {
        padding: 1.2rem 0;
      }
    }
    &__title {
      width: fit-content;
      font-weight: 700;
      font-size: 1.5em;
    }
    &__txt {
      width: fit-content;
    }
  }
}
