head
  link(rel="stylesheet" href="/css/index.css")
body
.forgot-form__wrap 
  .forgot-title 
    .ddc-logo__one
    .ddc-logo__two
    span 이제 비밀번호를 변경하실 수 있습니다!
  form.forgot-content
    .input-content
      label(for="new") 새 비밀번호
      input(name="new" placeholder="새 비밀번호를 입력하세요")
    input(type="submit" value="확인")
  