extends ../common/base.pug

block append stylesheet
  link(rel="stylesheet" href="/css/index.css")

block append script
  script(defer src="/es5/index.js")

block title
  title 컴퓨터정보학과

block content
  main.index-main
    |
    |
    //- loginResult, joinResult is 'success' or 'failure'
    //-
    //- afterLogin?
    if loginResult
      output(style="display: none" data-login-result= loginResult).login-result
    //- afterJoin?
    if joinResult
      output(style="display: none" data-join-result= joinResult).join-result
    |
    |
    .index-main__background
    .index-main__catchphrase
      h1 대덕대학교 컴퓨터정보학과
      p 
        | 소프트웨어 개발, 정보보안·해킹, 서버 분야의 실무능력을 보유한
        | 4차 산업혁명시대에 걸맞는 인재 양성
    .index-main__content
      .index-main__first
        .index-main__first-box.index-main__first-box--notice
          .index-main__first-box__board-infos
            h3.index-main__first-box__board-name 공지사항
            a(href="/community/notice").index-main__first-box__board-link
        .index-main__first-box.index-main__first-box--board
          .index-main__first-box__board-infos
            h3.index-main__first-box__board-name 학과 이야기
            a(href="/community/board").index-main__first-box__board-link
        .index-main__first-box.index-main__first-box--donation
          .index-main__first-box__board-infos
            h3.index-main__first-box__board-name 나눔의 공간
            a(href="/community/donation").index-main__first-box__board-link
      |
      |
      .index-main__content__divide-line
      |
      |
      .index-main__second
        .index-main__second-box.index-main__academic-info
          h3.index-main__second-title 학사정보
          .index-main__second__cell-wrap
            ul.index-main__second__content-list
              li.index-main__second__content-item
                a(href="/intro/info") 학과소개
              li.index-main__second__content-item
                a(href="/intro/member") 구성원
              li.index-main__second__content-item
                a(href="/milestone/curriculum") 교육 목표
        .index-main__second-box.index-main__student-life
          h3.index-main__second-title 학생생활
          .index-main__second__cell-wrap
            ul.index-main__second__content-list
              li.index-main__second__content-item
                a(href="/footprint/acquisition") 자격증 취득
              li.index-main__second__content-item
                a(href="/footprint/awards") 대회 수상
              li.index-main__second__content-item
                a(href="/footprint/portfolio") 포트폴리오  