extends ../templates/_base.pug

block title
  title Index

block content
  include ../templates/_header.pug

  //- Login component _dev
  include ../components/__dev_login.pug

  include ../templates/_footer.pug