extends ../templates/__dev_bear_template.pug

block title
  title __dev_bear
block stylesheet
  link(rel="stylesheet" href="/css/__dev_bear.css")

block content
  //- Join component _dev
  include ../components/_login.pug

block script
  script(src="/es5/__dev_bear.js")