extends ../templates/__dev_wscrg_template.pug

block title
  title 지용킹__dev_wscrg
block stylesheet
  link(rel="stylesheet" href="/css/__dev_wscrg.css")

block content
  include ../templates/_header.pug
  include ../templates/_sub-main.pug
  include ../templates/_footer.pug

block script
  script(src="/es5/__dev_wscrg.js")