extends ../templates/bar.pug

block title
    title Index

block content
    p Hello world!
    .image-test-wrapper
        img.image-test__first(src='#')
    .image-test-wrapper
        img.image-test__second(src='#')
    .image-test-wrapper
        img.image-test__third(src='#')
    a(href="foobar.html") link! >> test page