doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block title
        block stylesheet
    body
        header.dev_header
        |
        |
        main.dev_main
            block content
        |
        |
        footer.dev_footer
        |
        |
        block script