doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block title
        block stylesheet
        script(async src="https://kit.fontawesome.com/5e169df0e9.js" crossorigin="anonymous")
    body
        block content
        block script