footer.footer
      .footer__logo-zone
        span logo zone
      .footer__info  
        .footer__privacy-policy
          span 개인정보처리방침
        .footer__college-location
          span 대전광역시 유성구 가정북로 68 정곡관 6층