header.header
      .header__logo-zone
        span logo-zone
      .header__menu
        ul.header__menu__list
          li 
            a(href="#") 전공소개
          li
            a(href="#") 교수소개
          li
            a(href="#") 학사정보
          li
            a(href="#") 대학생활
          li 
            a(href="#") 커뮤니티
      .header__util-wrap
        ul.header__util__list
          li
            a LOGIN
          li
            a SITEMAP