header.header
  .header__logo-zone
    span logo-zone
  .header__menu
    ul.header__menu__list
      li.header__menu__list__item
        a(href="#").header__menu__list__link 전공소개
      li.header__menu__list__item
        a(href="#").header__menu__list__link 교수소개
      li.header__menu__list__item
        a(href="#").header__menu__list__link  학사정보
      li.header__menu__list__item
        a(href="#").header__menu__list__link 대학생활
      li.header__menu__list__item
        a(href="#").header__menu__list__link 커뮤니티
    .header__menu__depth
      .header__menu__depth-wrap
        ul.header__menu__depth__list
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 교육목표 및 목적
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 학과연혁
        ul.header__menu__depth__list
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 교수진
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 조교
        ul.header__menu__depth__list
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 교육과정
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 이수체계도
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 교과목개요
        ul.header__menu__depth__list
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 학생회
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 동아리
        ul.header__menu__depth__list
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 공지사항
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 자료실
          li.header__menu__depth__list__item
            a(href="#").header__menu__depth__list__link 취업안내
  .header__util
    ul.header__util__list
      li.header__util__list__item
        a.header__util__list__link LOGIN
      li.header__util__list__item
        a.header__util__list__link SITEMAP
