header.header
  .header-logo
    span logo-zone
  .header-menu
    ul.header-menu__list
      li.header-menu__item
        a(href="#").header-menu__title 전공소개
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 교육목표 및 목적
            a(href="#").header-menu-dropdown__link 학과연혁
      li.header-menu__item
        a(href="#").header-menu__title 교수소개
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 교수진
            a(href="#").header-menu-dropdown__link 조교
      li.header-menu__item
        a(href="#").header-menu__title  학사정보
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 교육과정
            a(href="#").header-menu-dropdown__link 이수체계도
            a(href="#").header-menu-dropdown__link 교과목개요
      li.header-menu__item
        a(href="#").header-menu__title 대학생활
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 학생회
            a(href="#").header-menu-dropdown__link 동아리
      li.header-menu__item
        a(href="#").header-menu__title 커뮤니티
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 공지사항
            a(href="#").header-menu-dropdown__link 자료실
            a(href="#").header-menu-dropdown__link 취업안내
  .header-util
    ul.header-util__list
      li.header-util__item
        a(href="/auth/login").header-util__link LOGIN
      li.header-util__item
        a(href="#").header-util__link SITEMAP
