header.header
  .header-logo
    span 컴퓨터정보학과
  .header-menu
    ul.header-menu__list
      li.header-menu__item
        a(href="#").header-menu__title 학과소개
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 학과소개
            a(href="#").header-menu-dropdown__link 구성원
            a(href="#").header-menu-dropdown__link 교육 환경
            a(href="#").header-menu-dropdown__link 동아리
      li.header-menu__item
        a(href="#").header-menu__title 학과진로
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 교육 목표
            a(href="#").header-menu-dropdown__link 자격증 소개
            a(href="#").header-menu-dropdown__link 진로 설정
      li.header-menu__item
        a(href="#").header-menu__title 커뮤니티
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 학과이야기
            a(href="#").header-menu-dropdown__link 바라는 점
            a(href="#").header-menu-dropdown__link 나눔의 공간
      li.header-menu__item
        a(href="#").header-menu__title 학생 자취록
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 자격증 취득
            a(href="#").header-menu-dropdown__link 대회 수상
            a(href="#").header-menu-dropdown__link 포트폴리오

  .header-util
    ul.header-util__list
      li.header-util__item
        a(href="#").header-util__link LOGIN
