header.header
  .header__logo-zone
    span logo-zone
  .header__menu
    ul.header__menu__list
      li.header__menu__list__item
        a(href="#").header__menu__title 전공소개
        .header__menu__dropdown
          .header__menu__dropdown__list
            a(href="#").header__menu__dropdown__link 교육목표 및 목적
            a(href="#").header__menu__dropdown__link 학과연혁
      li.header__menu__list__item
        a(href="#").header__menu__title 교수소개
        .header__menu__dropdown
          .header__menu__dropdown__list
            a(href="#").header__menu__dropdown__link 교수진
            a(href="#").header__menu__dropdown__link 조교
      li.header__menu__list__item
        a(href="#").header__menu__title  학사정보
        .header__menu__dropdown
          .header__menu__dropdown__list
            a(href="#").header__menu__dropdown__link 교육과정
            a(href="#").header__menu__dropdown__link 이수체계도
            a(href="#").header__menu__dropdown__link 교과목개요
      li.header__menu__list__item
        a(href="#").header__menu__title 대학생활
        .header__menu__dropdown
          .header__menu__dropdown__list
            a(href="#").header__menu__dropdown__link 학생회
            a(href="#").header__menu__dropdown__link 동아리
      li.header__menu__list__item
        a(href="#").header__menu__title 커뮤니티
        .header__menu__dropdown
          .header__menu__dropdown__list
            a(href="#").header__menu__dropdown__link 공지사항
            a(href="#").header__menu__dropdown__link 자료실
            a(href="#").header__menu__dropdown__link 취업안내
  .header__util
    ul.header__util__list
      li.header__util__list__item
        a.header__util__list__link LOGIN
      li.header__util__list__item
        a.header__util__list__link SITEMAP
