header.header
  .header-logo
    span 컴퓨터정보학과
  .header-menu
    ul.header-menu__list
      li.header-menu__item
        a(href="#").header-menu__title 학과소개
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 학과소개
            a(href="#").header-menu-dropdown__link 구성원
            a(href="#").header-menu-dropdown__link 교육 환경
            a(href="#").header-menu-dropdown__link 동아리
      li.header-menu__item
        a(href="#").header-menu__title 학과진로
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 교육 목표
            a(href="#").header-menu-dropdown__link 자격증 소개
            a(href="#").header-menu-dropdown__link 진로 설정
            |
            |
            //- TODO: 개발 완료 후 배포 시 링크 지우기!
            a(href="/test/bear" style="color:red; font-weight:bold").header-menu-dropdown__link 준재의 개발공간
            |
            |
      li.header-menu__item
        a(href="#").header-menu__title 커뮤니티
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 학과이야기
            a(href="#").header-menu-dropdown__link 바라는 점
            a(href="#").header-menu-dropdown__link 나눔의 공간
            |
            |
            //- TODO: 개발 완료 후 배포 시 링크 지우기!
            a(href="/test/wscrg" style="color:green; font-weight:bold").header-menu-dropdown__link 킹지용의 개발공간
            |
            |
      li.header-menu__item
        a(href="#").header-menu__title 학생 자취록
        .header-menu-dropdown
          .header-menu-dropdown__list
            a(href="#").header-menu-dropdown__link 자격증 취득
            a(href="#").header-menu-dropdown__link 대회 수상
            a(href="#").header-menu-dropdown__link 포트폴리오
            |
            |
            //- TODO: 개발 완료 후 배포 시 링크 지우기!
            a(href="/test/galaxy" style="color:blue; font-weight:bold").header-menu-dropdown__link 킹기의 개발공간
            |
            |
  .header-util
    ul.header-util__list
      li.header-util__item
        a(href="#").header-util__link LOGIN
      li.header-util__item
        span.fas.fa-bars.header-util__btn

