mixin sidebar__header__icon()
  div.sidebar__header__icon
    +icon('close', '닫기', '#0f0f0f')

mixin sidebar__item__icon()
  div.sidebar__item__icon
    +icon("caretDown", '여닫기', '#f5f5f5')
    
.cover
.sidebar
  section.sidebar__header
    div.sidebar__header__logo
      .sidebar__header__logo__icon
      .sidebar__header__logo__txt
        span 대덕대학교
        span 컴퓨터정보학과
    +sidebar__header__icon()
  section.sidebar__auth
    if user
      div.sidebar__auth__item
        a.sidebar__auth__link--logout.js-logoutBtn 로그아웃
    else
      div.sidebar__auth__item
        .sidebar__auth__link--login.js-loginOpenBtn 로그인
  ul.sidebar__list
    li.sidebar__item
      +sidebar__item__icon()
      .sidebar__btn.sidebar__intro 학과소개
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="/intro/info").sidebar__inner-link 학과소개
        li.sidebar__inner-item
          a(href="/intro/member").sidebar__inner-link 구성원
        li.sidebar__inner-item
          a(href="/intro/env").sidebar__inner-link 교육환경
        li.sidebar__inner-item
          a(href="/intro/club").sidebar__inner-link 동아리
    li.sidebar__item
      +sidebar__item__icon()
      .sidebar__btn.sidebar__career 학과진로
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="/milestone/curriculum").sidebar__inner-link 교육 목표
        li.sidebar__inner-item
          a(href="/milestone/cert").sidebar__inner-link 자격증 소개
        li.sidebar__inner-item
          a(href="/milestone/career").sidebar__inner-link 진로 설정
    li.sidebar__item
      +sidebar__item__icon()
      .sidebar__btn.sidebar__community 커뮤니티
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="/community/board").sidebar__inner-link 학과 이야기
        li.sidebar__inner-item
          a(href="/community/suggestion").sidebar__inner-link 바라는 점
        li.sidebar__inner-item
          a(href="/community/donation").sidebar__inner-link 나눔의 공간
        li.sidebar__inner-item
          a(href="/community/notice").sidebar__inner-link 공지사항
    li.sidebar__item
      +sidebar__item__icon()
      .sidebar__btn.sidebar__history 학생 자취록
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="/footprint/acquisition").sidebar__inner-link 자격증 취득
        li.sidebar__inner-item
          a(href="/footprint/awards").sidebar__inner-link 대회수상
        li.sidebar__inner-item
          a(href="/footprint/portfolio").sidebar__inner-link 포트폴리오
