span.sidebar-btn.fas.fa-bars
.cover
.sidebar
  .sidebar__logo logo
  ul.sidebar__list
    li.sidebar__item
      .sidebar__btn.sidebar__intro 학과소개
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 학과소개
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 구성원
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 교육환경
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 동아리
    li.sidebar__item
      .sidebar__btn.sidebar__career 학과진로
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 교육목표
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 자격증 소개
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 진로 설정
    li.sidebar__item
      .sidebar__btn.sidebar__community 커뮤니티
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 학과이야기
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 바라는 점
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 나눔의 공간
    li.sidebar__item
      .sidebar__btn.sidebar__history 학생 자취록
      ul.sidebar__inner-list
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 자격증 취득
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 대회수상
        li.sidebar__inner-item
          a(href="#").sidebar__inner-link 포트폴리오
