/* -- scss default: mixin, veriables 등-- */
@import "../../common/default/default.scss";
/* --------------- */

/* -- dev -- */
// common: login, join

.test {
  background: url(../../../img/example_cert.jpg) center/cover;
  width: 200px;
  height: 200px;
}
