extends ../../common/base.pug

block title
  title 자격증 취득
block append stylesheet
  link(rel="stylesheet" href="/css/acquisition.css")
block append script
  script(defer src="/es5/acquisition.js")

block content
  main.sub-main
    .sub-background
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학생 자취록
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item
              a(href="/footprint/acquisition").sub-nav__link 자격증 취득
            li.sub-nav__item
              a(href="/footprint/awards").sub-nav__link 대회 수상
            li.sub-nav__item
              a(href="/footprint/portfolio").sub-nav__link 포트폴리오

      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title 자격증 취득
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  +sub-contents__item__icon("home")
                  a(href="/").sub-contents__item__link HOME
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/footprint/acquisition").sub-contents__item__link 학생 자취록
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/footprint/acquisition").sub-contents__item__link 자격증 취득

          .sub-contents__content
            // 게시판 글 목록
            +postList(true, 'footprint/acquisition', user)