/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.sub-contents {
  width: 100%;
  height: fit-content;

  &__background {
    width: 100%;
    height: 15.625rem;
    background-color: $main-color;
    padding: 3.125rem;
    font-size: 1.4375rem;
    color: #fff;
    margin-top: 1.875rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__box {
    margin-bottom: 0.9375px;
    padding: 2.815rem;
    border: 1px solid $main-color--silver;
  }

  &__box:last-child {
    margin: 0;
  }

  &__box-title {
    font-size: 1.2rem;
    text-align: center;
  }

  &__box-txt {
    font-size: 1.05rem;
    line-height: 200%;
    margin-top: 1.875rem;
  }

  &__box-txt:first-child {
    margin-top: 0;
  }
}
