extends ../../common/_base.pug

block append title
  title 준재의 개발공간
block append stylesheet
  link(rel="stylesheet" href="/css/bear.css")
block script
  script(src="/es5/bear.js")

block content
  div.test
  //- include ../../common/auth/_login.pug
  //- include ../../common/auth/_join.pug