extends ../../common/base.pug

mixin card(title, info, content)
  // title = 자격증 이름
  // info = 학생 인적사항 예 ) 201311099 김준재 (2013아님)
  // content = 취득 내용 후기 등..
  .card__wrap
    .card-body
      a.card-title(href="#")
        //span.card-content__title= title
        .card-title__img
        //- !! Comment bear - 이미지는 웹팩 css 로더에 의해 file-loader에 연결되어 빌드되므로 css에서 지정해주어야 합니다.
      .card-content
        p.card-content__info= info
        p.card-content__text= content

block title
  title #{title || '섹시은기의 개발 공간'}
block append stylesheet
  link(rel="stylesheet" href="/css/galaxy.css")
block append script
  script(defer src="/es5/galaxy.js")

block content
  main.sub-main
    .sub-background
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      // TODO: 네비게이션 보완
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학생 자취록
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item
              a(href="/footprint/acquisition").sub-nav__link 자격증 취득
            li.sub-nav__item
              a(href="/footprint/awards").sub-nav__link 대회 수상
            li.sub-nav__item
              a(href="/footprint/portfolio").sub-nav__link 포트폴리오

      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title #{title || "선택된 하위 주제"}
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  a(href='#').sub-contents__item__link HOME
                  +sub-contents__item__icon("chevronForward") 
                li.sub-contents__item
                  a(href='#').sub-contents__item__link 상위 주제
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="#").sub-contents__item__link 하위 주제 

          // 카드 게시글 테스트
          - let count = 0;
          .sub-contents__content
            .student-board__wrap
              .student-board__title
                span 자격증 취득
                button.write-btn 글쓰기
              while count < 14
                +card("리눅스마스터 2급", "201911064최은기", "와! 타이어보다 쉽다!")
                - count++;
              .ap-blank