extends ../../common/_base.pug

block title
  title 지용킹의 개발공간
block append stylesheet
  link(rel="stylesheet" href="/css/wscrg.css")
block append script
  script(src="/es5/wscrg.js")

block content
  main.sub-main
    .sub-background
      span 학교 소개
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학과소개
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item 
              a(href="#").sub-nav__link 학과소개
            li.sub-nav__item
              a(href="#").sub-nav__link 구성원
            li.sub-nav__item
              a(href="#").sub-nav__link 교육환경
            li.sub-nav__item
              a(href="#").sub-nav__link 동아리



      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title 학과소개
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  a(href="#").sub-contents__item__link HOME
                  +sub-contents__item__icon() 
                li.sub-contents__item
                  a(href="#").sub-contents__item__link 학과소개
                  +sub-contents__item__icon()
                li.sub-contents__item
                  a(href="#").sub-contents__item__link 학과소개

          .sub-contents__content-wrap
            .sub-contents__content
              h2.sub-contents__form-title board Form
              form(action="" method="post").sub-contents__form
                .sub-contents__input-wrap.sub-contents__title-wrap
                  h3.sub-contents__text-title.sub-contents__input-title 제목
                  input(type="text" name="title" size="54" required)
                .sub-contents__input-wrap.sub-contents__file-wrap
                  h3.sub-contents__file-title.sub-contents__input-title 파일
                  input(type="file" name="file")
                .sub-contents__input-wrap.sub-contents__paragraph-wrap
                  h3.sub-contents__paragraph-title.sub-contents__input-title 내용
                  textarea(rows="5" cols="50" name="paragraph" required)
                input(type="submit" name="submit").sub-contents__submit