// @mixin
// 미디어 쿼리 관련 mixin 은 './media_mixin.scss'

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  @if $top == 50% and $left == 50% {
    transform: translate(-50%, -50%);
  }
}

@mixin border-bottom($color, $thickness) {
  border: none;
  @if $thickness {
    border-bottom: $thickness solid $color;
  } @else {
    border-bottom: 1px solid $color;
  }
}

// for dev

@mixin __dev_template {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vh;
  font-size: 20px;
}
