// variables

// color
$main-color--orange: #ff7300;
$main-color--light-orange: #ff9900;
$main-color--silver: #bebebe;
$main-color--black: #000000;

$login__font-color: $main-color--silver;

// shadow
$text-shadow: 0.02em 0.04em 0.2em rgba(0, 0, 0, 0.5);
$box-shadow: 0.3vw 0.6vw 1.5vw rgba(0, 0, 0, 0.5);
