/* -- base.scss & default.scss -- */
// base: css reset
@import './default/base';

// scss default: mixin, veriables 등
@import './default/default.scss';
/* ---------- */

/* common templates */
@import './templates/header';
@import './templates/sub-main';
@import './templates/footer';
@import './templates/sidebar';

/* common components */
@import './components/modal';
@import './components/loading';

/* common auth */
@import './auth/login';
@import './auth/join';

/* 그 외 전체 페이지 공통 설정 */
* {
  box-sizing: border-box;
}

*::selection {
  color: $main-color--white;
  background-color: $main-color--dark-silver;
  text-shadow: none;
}

html {
  @include for-size(desktop) {
    font-size: initial; // 'rem' 조정
  }
  @include for-size(laptop) {
    font-size: 15.5px;
  }
  @include for-size(tablet-portrait) {
    font-size: 15px;
  }
  @include for-size(tablet-landscape) {
    font-size: 15px;
  }
  @include for-size(mobile-landscape) {
    font-size: 14px;
  }
  @include for-size(mobile-portrait) {
    font-size: 14px;
  }
  @include for-size(mobile-fold-portrait) {
    font-size: 14px;
  }
  @include for-size(mobile-fold-landscape) {
    font-size: 14px;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  @include body-font-not-loaded;
  font-weight: 400;

  width: 100%; // 웹 전체 기본 너비
  height: fit-content;
  min-height: 100%; // 웹 전체 기본 높이
  position: relative;
  padding: 0 2.5vw $footer-height 2.5vw; // 웹 전체 기본 padding

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color--silver;
  }
}

body.fonts-loaded {
  // 한글 로딩 후 (이 클래스는 es6/common/function/fontOptimization.js 에서 추가됩니다.)
  @include body-font-loaded;
}

main {
  min-height: 100%;
}

a {
  color: inherit;
}
