/* default */
@import "./font_base";
@import "./mixins";
@import "./media_mixin";
@import "./placeholders";
@import "./variables";

/* custom */
* {
  box-sizing: border-box;
}

html {
  @include for-size(desktop) {
    font-size: initial; // 'rem' 조정
  }
  @include for-size(laptop) {
    font-size: 15.5px;
  }
  @include for-size(tablet-portrait) {
    font-size: 15px;
  }
  @include for-size(tablet-landscape) {
    font-size: 15px;
  }
  @include for-size(mobile-landscape) {
    font-size: 14px;
  }
  @include for-size(mobile-portrait) {
    font-size: 14px;
  }
  @include for-size(mobile-fold-portrait) {
    font-size: 14px;
  }
  @include for-size(mobile-fold-landscape) {
    font-size: 14px;
  }
}

html,
body {
  width: 100%; // 웹 전체 기본 너비
  height: fit-content; // 웹 전체 기본 높이
  min-height: 100%;
}

body {
  position: relative;
  padding: 0 2.5vw $footer-height 2.5vw; // 웹 전체 기본 padding
  font-family: "Noto Sans --Regular"; // 웹 전체 기본 폰트: Noto Sans -- Weight 400
}
