// galaxy := 자격증 취득 classNames
/* 학생 자취록 카테고리 게시판은 student-board
   커뮤니티 게시판은 comm-board 네이밍 규칙 어떨까요? ( 제안 )
*/
.student-board__wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  .card__wrap {
    display: flex;
    justify-content: center;
    margin: 10px 15px 10px 15px;
    height: 90%;

    .card-body {
      padding: 10px;
      height: inherit;
      width: 180px;
      border: 1px solid rgba(54, 54, 54, 1);

      .card-title {
        width: 100%;
        height: 40%;
      }

      .card-content {
        width: 100%;
      }
    }
  }
}
