extends ../../common/base.pug

block title
  title 진로 설정
block append stylesheet
  link(rel="stylesheet" href="/css/career.css")
block append script
  script(defer src="/es5/career.js")

block content
  main.sub-main
    .sub-background
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학과진로
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item
              a(href="/milestone/curriculum").sub-nav__link 교육 목표
            li.sub-nav__item
              a(href="/milestone/cert").sub-nav__link 자격증 소개
            li.sub-nav__item
              a(href="/milestone/carrer").sub-nav__link 진로 설정

      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title 진로 설정
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  +sub-contents__item__icon("home")
                  a(href="/").sub-contents__item__link HOME
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/milestone/curriculum").sub-contents__item__link 학과진로
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/milestone/carrer").sub-contents__item__link 진로 설정

          .sub-contents__content
            .sub-contents__container
