.footer {
  width: 100%;
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0;
  left: 0;
  height: $footer-height;
  background-color: $main-color--dark-silver;

  .footer__wrap {
    margin: 15px auto;
    display: flex;
    justify-content: start;
    width: fit-content;

    .footer__logo-zone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 100px;
      background-image: url('../../../../src/img/ddu_logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 60px;
      margin-top: 20px;

      @media screen and (max-width: 1300px) {
        display: none;
      }
    }

    .footer__info {
      display: inline-block;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      color: $main-color--white;
      font-size: 0.75em;

      .footer__privacy-policy {
        width: 100%;
        height: 100%;
        span {
          padding: 0 30px;
          border-right: 3px solid #525c64;
          cursor: pointer;
        }

        span:nth-last-child(1) {
          border-right: none;
        }
      }

      .footer__college-location {
        padding: 0 30px;
        margin-top: 30px;

        @media screen and (max-width: 512px) {
          margin: 0;
          padding: 0;
          span:nth-child(1) {
            border: none;
          }
        }
      }

      @media screen and (max-width: 512px) {
        padding-top: 0;
        width: 100%;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          display: block;
          border: 1px solid #aaa;
          margin: 5px;
          text-align: center;
          padding: 5px 0px;
        }

        span:nth-child(4),
        span:nth-child(5),
        span:nth-child(6),
        span:nth-child(7) {
          display: none;
        }
      }
    }

    @media screen and (max-width: 512px) {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }
}
