.cover {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;

  &--covered {
    display: block;
  }
}

.sidebar {
  position: fixed;
  width: 20rem;
  height: 100%;
  right: -20rem;
  top: 0;
  background-color: #fefefe;
  color: $main-color--dark-silver;
  z-index: 6;
  transition: right 0.3s ease-in-out;

  &--show {
    right: 0;
  }

  &__header {
    display: flex;
    justify-content: center;

    &__logo {
      font-size: 2em;
      text-align: center;
      height: 50px;
      @include flex-center;
    }
  }

  &__list {
    height: 100%;
  }

  &__item {
    position: relative;
    font-size: 1.2em;
    line-height: 150%;
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.33rem 1rem;
    color: $main-color--white;
    background-color: $main-color--dark-silver;
    cursor: pointer;

    &__icon {
      position: absolute;
      z-index: 99;

      &--close {
        top: 0.66rem;
        right: 0.66rem;
        width: 1.33rem;
        height: 1.33rem;
        cursor: pointer;

        svg {
          path {
            stroke-width: 40;
          }
        }
      }

      &--caretDown {
        right: 1rem;
        top: 1.9rem; // 주의: 유동적이지 못한 수치입니다.
        width: 0.6rem;
        height: 0.6rem;

        svg {
          position: absolute;
        }
      }

      svg {
        transition: transform 0.2s ease-in-out;
      }
    }

    &--active {
      & .sidebar__btn {
        background-color: $main-color;
      }

      svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__inner-item {
    border-bottom: 1px solid $main-color--silver;
  }

  &__inner-list {
    display: none;
    height: 100%;
  }

  &__inner-list--clicked {
    display: block;
  }

  &__inner-link {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 0 1rem 2.3rem;
  }
}
