head
  link(rel="stylesheet" href="/css/index.css")
body
.find-form__wrap 
  .find-title 
    .ddc-logo__one
    .ddc-logo__two
    span 비밀번호 찾기
  form.find-content
    label(for="email") 이메일
    input(name="email" placeholder="이메일을 입력하세요.")
    input(type="submit" value="확인")
