article.join
    |
    |
    .join__overlay
    |
    |
    form(action="/auth/join" method="post" autocomplete="off").join__form
        |
        |
        .join__form__close-btn
            +icon("close", '닫기', '#f5f5f5')
        .join__form__title 회원가입
        |
        |
        .join__form__input-box
            input(type="text" name="id" minlength="4" maxlength="12" required).join__form__input
            label.join__form__input-label 사용자 이름 (4~12)
            span.join__form__input-check
            //- TODO: id 입력창 focus가 풀리면 DB와 연동해서 입력한 아이디가 있는지 검증
            //- TODO: id 입력창 요구조건 (특수문자 미포함 등) 만족 검증
        .join__form__input-box
            input(type="password" name="password" minlength="8" maxlength="20" autocomplete="new-password" required).join__form__input
            label.join__form__input-label 비밀번호 (8~20)
            span.join__form__input-check
        //- TODO: 아래 패스워드 체크에 입력한 값이 위에 입력했던 패스워드와 동일한지 검증
        .join__form__input-box
            input(type="password" name="pwcheck" minlength="1" maxlength="20" autocomplete="new-password" required).join__form__input
            label.join__form__input-label 비밀번호 확인
            span.join__form__input-check
        //- TODO: 자동입력 방지 테스트 추가
        .join__form__input-box
            input(type="email" name="email" required).join__form__input.js-emailInput
            label.join__form__input-label 이메일
            span.join__form__input-check
             //- TODO: 비밀번호를 찾는데 사용됩니다 주의 문구 추가
        //- TODO: 패스워드 안 보이게 / 보이게 하는 버튼 추가
        |
        |
        input(type="submit" value="회원가입").join__form__join-btn