/* -- scss default: mixin, veriables 등-- */
@import '../../common/default/default.scss';
/* --------------- */

.sub-contents__container {
  height: 800px;
  width: inherit;
  background: url('../../../img/career.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
