include ../../common/_mixins.pug

doctype html
html(lang="ko")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title 비밀번호 재설정
        link(rel="stylesheet" href="/css/common.css")
        link(rel="stylesheet" href="/css/forgot_resetPassword.css")
        script(src="/es5/forgot_resetPassword.js")
    body 
        article.find
            |
            |
            .find__overlay
            |
            |
            form(action=`/auth/forgot_resetPassword?hash=${hash}` method="post" autocomplete="off").find__form.find__form--reset
                |
                |
                //- TODO: 뒤로가기버튼(로그인 창으로 돌아가기) 추가하기
                .find__form__close-btn
                    +icon("close", '닫기', '#f5f5f5')
                .find__form__title 비밀번호 재설정
                |
                |
                fieldset.find__form__fieldset.find__form__fieldset--reset-password
                    .find__form__input-box
                        input(type="password" name="newPw" id="newPw" minlength="1" maxlength="20" required).find__form__input
                        label(for="newPw").find__form__input-label 비밀번호 (영문, 숫자, 기호를 조합하여 8자 이상)
                        span.find__form__input-check.js-inputCheck
                        //- TODO: 아래 패스워드 체크에 입력한 값이 위에 입력했던 패스워드와 동일한지 프론트 단에서 검증
                    .find__form__input-box
                        input(type="password" name="newPwCheck" id="newPwCheck" minlength="1" maxlength="20" required).find__form__input
                        label(for="newPwCheck").find__form__input-label 비밀번호 확인
                        span.find__form__input-check.js-inputCheck
                    input(type="submit" value="입력완료").find__form__btn.find__form__btn--reset