.login {
  @include position(absolute, 50%, 50%);

  padding: 40px;
  width: 400px;
  // toDo: @media screen 추가하기
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: $box-shadow;
  border-radius: 1rem;

  .login__title {
    color: $login__font-color;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .login__input-box {
    position: relative;

    .login__input {
      @include border-bottom($login__font-color);

      width: 100%;
      margin-bottom: 2rem;
      padding: 0.4rem 0;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
      color: $login__font-color;
    }

    .login__input-label {
      @include position(absolute, 0, 0);
      color: $login__font-color;
      opacity: 0.6;
      pointer-events: none;
      transition: 0.5s;
    }

    .login__input:focus ~ .login__input-label,
    .login__input:valid ~ .login__input-label {
      top: -1rem;
      left: 0;
      font-size: 0.8rem;
      opacity: 1;
      color: $main-color--orange;
    }

    .login__input-check {
      position: relative;
    }

    .login__input-check::before {
      position: absolute;
      right: 5px;
    }

    .login__input:valid ~ .login__input-check::before {
      content: "✓";
      color: white;
    }
  }
}
