.temp-main {
  @include flex-center;
  @include full;

  .temp-main__wrapper {
    @include flex-center;
    width: 70vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 15px;

    .temp-main__text {
      font-size: 30px;
      color: white;
      text-shadow: 0.02em 0.04em 0.2em rgba(0, 0, 0, 0.8);
    }
  }
}
