.login {
  @include position(absolute, 50%, 50%);
}

.login__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 380px;
  // toDo: @media screen 추가하기
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: $box-shadow;
  border-radius: 1rem;

  .login__title {
    color: $login__font-color--before;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.8rem;
    transition: 0.5s;
  }

  &:focus-within .login__title {
    color: $login__font-color--after;
  }

  .login__input-box {
    position: relative;

    .login__input {
      @include border-bottom($login__font-color--before, 1px);

      width: 100%;
      margin-bottom: 2.6rem;
      padding: 0.4rem 0;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
      color: $login__font-color--before;
    }

    .login__input-label {
      @include position(absolute, 0, 0);
      color: $login__font-color--before;
      opacity: 0.6;
      pointer-events: none;
      transition: 0.5s;
    }

    .login__input:focus ~ .login__input-label,
    .login__input:valid ~ .login__input-label {
      top: -1rem;
      left: 0;
      font-size: 0.8rem;
      opacity: 1;
      color: $main-color--orange;
    }

    .login__input-check {
      position: relative;
    }

    .login__input-check::before {
      position: absolute;
      right: 5px;
    }

    .login__input:valid ~ .login__input-check::before {
      content: "✓";
      color: $login__font-color--after;
    }
  }

  .login__btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    font-weight: 400;
    font-size: 0.8rem;
    text-shadow: $text-shadow--black;
    transition: 0.2s;
    filter: opacity(0.5);

    &:hover,
    &:focus {
      filter: none;
    }
  }

  .login__login-btn {
    cursor: pointer;
    background-color: $main-color--orange;
  }

  .login__join-btn {
    text-align: center;
    background-color: $main-color--silver;
  }

  .login__find-password-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .login__find-password {
      position: relative;
      right: 0;
      width: fit-content;
      color: $main-color--silver;
      opacity: 0.7;
      font-size: 0.8rem;
      transition: 0.2s;

      &:hover,
      &:focus {
        color: $login__font-color--after;
        opacity: initial;
      }
    }
  }
}
