extends ../../common/base.pug

block title
  title 동아리
block append stylesheet
  link(rel="stylesheet" href="/css/club.css")
block append script
  script(defer src="/es5/club.js")

block content
  main.sub-main
    .sub-background
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학과소개
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item
              a(href="/intro/info").sub-nav__link 학과소개
            li.sub-nav__item
              a(href="/intro/member").sub-nav__link 구성원
            li.sub-nav__item
              a(href="/intro/env").sub-nav__link 교육 환경
            li.sub-nav__item
              a(href="/intro/club").sub-nav__link 동아리

      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title 동아리
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  +sub-contents__item__icon("home")
                  a(href="/").sub-contents__item__link HOME
                  +sub-contents__item__icon("chevronForward") 
                li.sub-contents__item
                  a(href="/intro/info").sub-contents__item__link 학과소개
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/intro/club").sub-contents__item__link 동아리

          .sub-contents__content
            h1.sub-content__title node
            p.sub-content__paragraph
            | node는 컴퓨터공학 중 정보보안에 관심과 흥미가 있는 학생들이 운영하는 동아리입니다.
            | 스터디, 대외 활동, 영문 원서 번역 등의 활동을 하고 있습니다.