extends ../../common/base.pug

block title
  title 교육환경
block append stylesheet
  link(rel="stylesheet" href="/css/env.css")
block append script
  script(defer src="/es5/env.js")

block content
  main.sub-main
    .sub-background
    .sub-main__wrap

      // 여기서부터 네비게이션 바 시작
      .sub-nav
        .sub-nav__title-wrap
          h3.sub-nav__title 학과소개
        .sub-nav__list-wrap
          ul.sub-nav__list
            li.sub-nav__item
              a(href="/intro/info").sub-nav__link 학과소개
            li.sub-nav__item
              a(href="/intro/member").sub-nav__link 구성원
            li.sub-nav__item
              a(href="/intro/env").sub-nav__link 교육 환경
            li.sub-nav__item
              a(href="/intro/club").sub-nav__link 동아리

      // 여기서부터 콘텐츠 시작
      .sub-contents
        .sub-contents__wrap
          .sub-contents__header
            h2.sub-contents__title 교육 환경
            .sub-contents__util-wrap
              ul.sub-contents__util-list
                li.sub-contents__item
                  +sub-contents__item__icon("home")
                  a(href="/").sub-contents__item__link HOME
                  +sub-contents__item__icon("chevronForward") 
                li.sub-contents__item
                  a(href="/intro/info").sub-contents__item__link 학과소개
                  +sub-contents__item__icon("chevronForward")
                li.sub-contents__item
                  a(href="/intro/env").sub-contents__item__link 교육 환경

          .sub-contents__content
            .sub-content
              header.sub-content__header
                h1.sub-content__header-title 컴퓨터정보학과 교육환경
                p.sub-content__header-paragraph - 전공기초, 코스공통, 코스심화과목을 체계적으로 구성하여 실무중심의 응용SW 중심의 강의 및 실습을 수행하고 있습니다. 전공 교수님 뿐만 아니라 연계된 산업체 전문가가 강의에 직접 참여하고 현장실습을 통하여 현장적응능력을 배양하고 있습니다.
                  | <br/> - 교육부 특성화지원사업을 지원받아 전공분야의 특성화된 실습실을 구축하여 활용하고 있습니다.
              .sub-content__main
                .sub-content__main-first
                  h1.sub-content__main-title 보안관제 실습실
                  p.sub-content__main-paragraph 교육부재정지원 특성화 II 영역"실무 중심의 정보보안 인력 양성을 위해 산업현장형 보안관제시스템(Enterprise Security Management) 구축 및 운영"을 통한 교육의 질적 고도화, 산업현장형 실습환경확충 산·학·관 협력체제 강화 및 취업 활성화를 추진하기 위해 교육부 10억,자체 5억의 예산을 투입하여 보안관제시스템 구축, 보안관제 실습실 구성, 사이버테러 대응 실습실 구성하여 활용중에 있다.
                  .sub-content__main-img
                .sub-content__main-second
                  h1.sub-content__main-title 모의 해킹 실습실
                  p.sub-content__main-paragraph 교육부재정지원 특성화 II 영역 "정보보안 및 네트워크관리 전문 기술 인력 양성" 사업의 일환으로 교육부 10억,자체 5억의 예산을 투입하여 국내 교육기관으로는 최초로 정보보안인력 양성을 위한 모의해킹실습환경을 구축하여 실습중에 있다.
                  .sub-content__main-img
                .sub-content__main-third
                  h1.sub-content__main-title 서버관리 실습실
                  p.sub-content__main-paragraph 교육부재정지원 특성화 II영역 "산업기술 클러스터 구축"사업의 일환으로 SUN, HP, IBM 등 중형 워크스테이션 및 주변장비를 구축하고 중소기업 및 정부기관, 연구소의 정보시스템을 관리할 수 있는 전문인력을 양성하기 위한 실습실로, 시스템 구축 및 운영관리에 관련된 현장중심의 실습교육을 실시하고 (주)SK네트웍스 등 산업체와 연계하여 산업체 관련 담당자 연수를 실시하여 대학과 산업체를 연계하고 졸업생의 취업을 촉진하고 있다. 
                    |현재 본 실습실은 공동활용이 가능한 HP 중형서버는 물론, 학생 개개인이 서버를 직접실습할 수 있도록 실습실에 SUN 워크스테이션 16대가 설치되어 있다.
                  .sub-content__main-img
                .sub-content__main-fourth
                  h1.sub-content__main-title 시스코 네트워크 실습실
                  p.sub-content__main-paragraph 교육부재정지원 특성화 II 영역 "정보보안 및 네트워크 관리 전문 기술 인력 양성"사업의 일환으로 구축된 컴퓨터 네트워크 실습실은 현장과 흡사한 환경에서 LAN, WAN, TCP/IP, 이더넷 등의 기술을 익힐 수 있도록 수십대의 라우터와 스위치를 보유하여 실질적인 실무를 배울 수 있도록 구성되었다.
                    |이 장비를 이용한 시스코 네트워킹 아카데미 프로그램은 학생들로 하여금 최근의 비즈니스를 주도하는 네트워킹과 인터넷 기술을 실제로 체험해볼 수 있는 과정을 운영하는 실습실임.
                    |네트워크과는 Cisco 국제공인 실습기관으로 지정되어 CISCO 교육과정을 지공받고, 공인강사에 의해 교육되고 있으며 정해진 과정을 이수한 경우 국제공인 응시료 50%를 할인받아 자격취득을 할 수 있는 특전이 주어진다.
                  .sub-content__main-img
                .sub-content__main-fifth
                  h1.sub-content__main-title 학습 도제룸
                  .sub-content__main-img