/* -- scss default: mixin, veriables 등-- */
@import "../common/default/default.scss";
/* --------------- */

.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .index-main__background {
    width: 100%;
    height: 520px; //TODO: 임시 높이. 후에 이미지 추가
    position: absolute;
    top: 80;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

  .index-main__content {
    margin-top: 350px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    z-index: 2;

    .index-main__first {
      background-color: peru;
      display: grid;
      width: 100%;
      height: 25em;
      grid-template: "box1 box2 box3" 1fr;
      border-bottom: 3px solid black;

      @media screen and (max-width: 1335px) {
        grid-template:
          "box1 box1" 1fr
          "box2 box3" 1fr;
      }

      .index-main__first-box {
        padding: 35px 45px;
      }

      .index-main__pop-up {
        grid-area: box1;
        border: 3px solid black;
      }

      .index-main__department-news {
        grid-area: box2;
        border-right: 3px solid black;
      }

      .index-main__college-news {
        grid-area: box3;
      }
    }

    .index-main__second {
      margin-top: 80px;
      margin-bottom: 100px;
      background-color: peru;
      display: flex;
      width: 100%;
      border-top: 3px solid black;
      border-bottom: 3px solid black;

      .index-main__second-title {
        font-size: 45px;
      }

      .index-main__second-box {
        padding: 40px 220px 40px 45px;
        width: 100%;
      }

      .index-main__second__cell-wrap {
        padding: 40px 0px;
      }

      .index-main__academic-info {
        grid-area: box1;
      }

      .index-main__student-life {
        grid-area: box2;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .index-main__second {
    flex-direction: column;
  }
}

// 임시 
.forgot-form__wrap {
  border: 1px solid #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 500px;
  height: 300px;

  .ddc-logo__one {
    width: 60px;
    height: 40px;
    background-color: #f15a22;
    margin: 10px 5px 10px 5px;
    border-radius: 0 35px 35px 0 / 0 35px 35px 0
  }
  .ddc-logo__two {
    margin: 10px 5px 10px 0px;
    width: 40px;
    height: 40px;
    background-color: #58595b;
    border-radius: 0 0 35px 35px / 0 0 35px 35px;
  }

  .forgot-title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    box-shadow:  0px 8px 6px -6px #CCC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }

  .forgot-content {
    transition: 1s;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    input {
      border: 1px solid #CCC;
      margin-left: 10px;
      padding: 10px 20px 10px 20px;
      width: 350px;
      outline: none;
      border-radius: 3px;
    }
    .input-content {
      display: flex;
      margin-bottom: 30px;
      align-items: center;

    }

    input[type="submit"] {
      border: none;
      outline: none;
      color: white;
      width: 120px;
      background-color: #f15a22;
      transition: 0.4s;

      &:hover {
        transition: 0.5s;
        background-color: #eeaa91;
      }
    }
  }
}
