/* -- scss default: mixin, veriables 등-- */
@import '../common/default/default.scss';
/* --------------- */

.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .index-main__background {
    width: 100%;
    height: 520px; //TODO: 임시 높이. 후에 이미지 추가
    position: absolute;
    top: 80;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../img/ddc.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .index-main__content {
    margin-top: 350px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .index-main__first {
      display: grid;
      width: 100%;
      height: 25em;
      grid-template: 'box1 box2 box3' 1fr;
      grid-template-columns: 33.33% 33.33% 33.33%;

      @media screen and (max-width: 1335px) {
        grid-template:
          'box1 box1' 1fr
          'box2 box3' 1fr;
        grid-template-columns: 50% 50%;
      }

      @media screen and(max-width: 1024px) {
        grid-template:
          'box1' 1fr
          'box2' 1fr
          'box3' 1fr;
      }

      .index-main__first-box {
        padding: 35px 45px;
        min-width: 0;

        &-title {
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }
      }

      .index-main__notice {
        grid-area: box1;
        background-color: #149ab8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .index-main__department-news {
        grid-area: box2;
        background-color: #e5e8e9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__item {
        display: flex;
        justify-content: space-between;
      }

      &__link {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .index-main__college-news {
        grid-area: box3;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .index-main__second {
      margin-top: 80px;
      margin-bottom: 100px;
      display: flex;
      width: 100%;
      background: rgba(0, 0, 0, 0.1);

      .index-main__second-title {
        font-size: 45px;
      }

      .index-main__second-box {
        padding: 40px 220px 40px 45px;
        width: 100%;
      }

      .index-main__second__cell-wrap {
        padding: 40px 0px;
      }

      .index-main__academic-info {
        grid-area: box1;
      }

      .index-main__student-life {
        grid-area: box2;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .index-main__second {
    flex-direction: column;
  }
}
