* {
  box-sizing: border-box;
}

.ant-card-bordered {
  width: 500px;
}

.ant-card-head-title {
  font-weight: 600;
  font-size: 32px;
}

.ant-input-affix-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  &:first-child {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

