// ***********************************************************************************
// 아래 @mixin for-size 에서 제시하는 디바이스별 mixin으로 각 태그 안에 미디어 쿼리를 제작해주세요.
//
// ** example **
//
// @mixin for-all-size {
//   @include for-size(desktop) {
//     animation: none;
//   }
//   @include for-size(laptop) {
//     animation: none;
//   }
//   @include for-size(tablet-portrait) {
//     animation: none;
//   }
//   @include for-size(tablet-landscape) {
//     animation: none;
//   }
//   @include for-size(mobile-landscape) {
//     animation: none;
//   }
//   @include for-size(mobile-portrait) {
//     animation: none;
//   }
//   @include for-size(mobile-fold-portrait) {
//     animation: none;
//   }
//   @include for-size(mobile-fold-landscape) {
//     animation: none;
//   }
// }
//
// ***********************************************************************************

@mixin for-size($size) {
  @if $size == desktop {
    @media (min-width: 1280.01px) {
      @content;
    }
  } @else if $size == laptop {
    @media (min-width: 1024.01px) and (max-width: 1280px) {
      @content;
    }
  } @else if $size == tablet-portrait {
    @media (min-width: 768.01px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size == tablet-landscape {
    @media (min-width: 768.01px) and (max-width: 1024px) and (orientation: landscape) {
      @content;
    }
  } @else if $size == mobile-landscape {
    @media (min-width: 48.01px) and (max-width: 768px) {
      @content;
    }
  } @else if $size == mobile-portrait {
    @media (min-width: 320.01px) and (max-width: 480px) {
      @content;
    }
  } @else if $size == mobile-fold-portrait {
    @media (min-width: 279px) and (max-width: 320px) {
      @content;
    }
  } @else if $size == mobile-fold-landscape {
    @media (min-width: 650px) and (max-width: 660px) and (max-height: 281px) {
      @content;
    }
  }
}

@mixin for-laptop {
  @include for-size(laptop) {
    @content;
  }
  @include for-size(tablet-portrait) {
    @content;
  }
  @include for-size(tablet-landscape) {
    @content;
  }
  @include for-size(mobile-landscape) {
    @content;
  }
  @include for-size(mobile-portrait) {
    @content;
  }
  @include for-size(mobile-fold-portrait) {
    @content;
  }
  @include for-size(mobile-fold-landscape) {
    @content;
  }
}

@mixin for-tablet {
  @include for-size(tablet-portrait) {
    @content;
  }
  @include for-size(tablet-landscape) {
    @content;
  }
  @include for-size(mobile-landscape) {
    @content;
  }
  @include for-size(mobile-portrait) {
    @content;
  }
  @include for-size(mobile-fold-portrait) {
    @content;
  }
  @include for-size(mobile-fold-landscape) {
    @content;
  }
}

@mixin for-mobile {
  @include for-size(mobile-landscape) {
    @content;
  }
  @include for-size(mobile-portrait) {
    @content;
  }
  @include for-size(mobile-fold-portrait) {
    @content;
  }
  @include for-size(mobile-fold-landscape) {
    @content;
  }
}

// *********
//  ##Device = Desktops
//  ##Screen = 1281px to higher resolution desktops
// *********
// @media (min-width: 1281px) {
//   //CSS
// }

// *********
//  ##Device = Laptops, Desktops
//  ##Screen = B/w 1025px to 1280px
// *********
// @media (min-width: 1025px) and (max-width: 1280px) {
//   //CSS
// }

// *********
//  ##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px
// *********
// @media (min-width: 768px) and (max-width: 1024px) {
//   //CSS
// }

// *********
//  ##Device = Tablets, Ipads (landscape)
//  ##Screen = B/w 768px to 1024px
// *********
// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//   //CSS
// }

// *********
//  ##Device = Low Resolution Tablets, Mobiles (Landscape)
//  ##Screen = B/w 481px to 767px
// *********
// @media (min-width: 481px) and (max-width: 767px) {
//   //CSS
// }

// *********
//  ##Device = Most of the Smartphones Mobiles (Portrait)
//  ##Screen = B/w 320px to 479px
// *********
// @media (min-width: 320px) and (max-width: 480px) {
//   //CSS
// }

// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************

// 컴포넌트들의 버튼 관련 media query

@mixin top-left-btn--all {
  top: 0.6rem;
  left: 0.6rem;
  width: 1.4rem;
}

@mixin top-left-btn--media {
  @include for-size(tablet-portrait) {
    @include top-left-btn--all;
  }
  @include for-size(tablet-landscape) {
    @include top-left-btn--all;
  }
  @include for-size(mobile-landscape) {
    @include top-left-btn--all;
  }
  @include for-size(mobile-portrait) {
    @include top-left-btn--all;
  }
  @include for-size(mobile-fold-portrait) {
    @include top-left-btn--all;
  }
  @include for-size(mobile-fold-landscape) {
    @include top-left-btn--all;
  }
}

@mixin top-right-btn--all {
  top: 0.6rem;
  right: 0.6rem;
  width: 1.4rem;
}

@mixin top-right-btn--media {
  @include for-size(tablet-portrait) {
    @include top-right-btn--all;
  }
  @include for-size(tablet-landscape) {
    @include top-right-btn--all;
  }
  @include for-size(mobile-landscape) {
    @include top-right-btn--all;
  }
  @include for-size(mobile-portrait) {
    @include top-right-btn--all;
  }
  @include for-size(mobile-fold-portrait) {
    @include top-right-btn--all;
  }
  @include for-size(mobile-fold-landscape) {
    @include top-right-btn--all;
  }
}

// auth/ 컴포넌트들의 너비 높이 관련 media query
@mixin auth__form--mobile {
  @include full;
  min-width: 279px; // galaxy fold width'
  min-height: initial;
  border-radius: initial;
}

@mixin auth__form--media {
  @include for-size(desktop) {
    width: 29rem;
    padding: 2.3rem;

    &--hash {
      min-width: 520px;
    }
  }
  @include for-size(laptop) {
    width: 26rem;
    padding: 2.2rem;

    &--hash {
      min-width: 500px;
    }
  }
  @include for-size(tablet-portrait) {
    @include auth__form--mobile;
    padding: 100px;
  }
  @include for-size(tablet-landscape) {
    @include auth__form--mobile;
    padding: 0 100px;
  }
  @include for-size(mobile-landscape) {
    @include auth__form--mobile;
    padding: 40px;
  }
  @include for-size(mobile-portrait) {
    @include auth__form--mobile;
    padding: 10px;
  }
  @include for-size(mobile-fold-portrait) {
    @include auth__form--mobile;
    padding: 10px;
  }
  @include for-size(mobile-fold-landscape) {
    @include auth__form--mobile;
    padding-top: 6rem;
  }
}

// sub-main 이미지 높이 관련 미디어 쿼리
// TODO: 임시 mixin 추후 반드시 수정 (제대로 된 이미지, 제대로 된 background-size 컨트롤)
@mixin sub-background-height($height) {
  height: $height; // 배경 높이
  background-size: 100% $height; // 배경을 덮는 이미지 높이
}

@mixin sub-background-height--media {
  // TODO: 임시 mixin 추후 반드시 수정 (제대로 된 이미지, 제대로 된 background-size 컨트롤)
  @include for-size(desktop) {
    @include sub-background-height($sub-background-height--desktop);
  }
  @include for-size(laptop) {
    @include sub-background-height($sub-background-height--laptop);
  }
  @include for-size(tablet-portrait) {
    @include sub-background-height($sub-background-height--tablet);
  }
  @include for-size(tablet-landscape) {
    @include sub-background-height($sub-background-height--tablet);
  }
  @include for-size(mobile-landscape) {
    @include sub-background-height($sub-background-height--mobile);
    // background: none;
  }
  @include for-size(mobile-portrait) {
    @include sub-background-height($sub-background-height--mobile);
    // background: none;
  }
  @include for-size(mobile-fold-portrait) {
    @include sub-background-height($sub-background-height--mobile);
    // background: none;
  }
  @include for-size(mobile-fold-landscape) {
    @include sub-background-height($sub-background-height--mobile);
    // background: none;
  }
}

@mixin sub-main-margin--media {
  // 바로 위의 요소만큼 margin-top을 가짐
  @include for-size(desktop) {
    margin-top: calc(#{$sub-background-height--desktop} - 6rem);
  }
  @include for-size(laptop) {
    margin-top: calc(#{$sub-background-height--laptop} - 6rem);
  }
  @include for-size(tablet-portrait) {
    margin-top: calc(#{$sub-background-height--tablet} - 6rem);
  }
  @include for-size(tablet-landscape) {
    margin-top: calc(#{$sub-background-height--tablet} - 6rem);
  }
  @include for-size(mobile-landscape) {
    margin-top: $sub-background-height--mobile;
  }
  @include for-size(mobile-portrait) {
    margin-top: $sub-background-height--mobile;
  }
  @include for-size(mobile-fold-portrait) {
    margin-top: $sub-background-height--mobile;
  }
  @include for-size(mobile-fold-landscape) {
    margin-top: $sub-background-height--mobile;
  }
}
