// @mixin
// 미디어 쿼리 관련 mixin 은 './media_mixin.scss'

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  @if $top == 50% and $left == 50% {
    transform: translate(-50%, -50%);
  }
}

@mixin border-top($color, $thickness) {
  border: none;
  @if $thickness {
    border-top: $thickness solid $color;
  } @else {
    border-top: 1px solid $color;
  }
}

@mixin border-bottom($color, $thickness) {
  border: none;
  @if $thickness {
    border-bottom: $thickness solid $color;
  } @else {
    border-bottom: 1px solid $color;
  }
}

@mixin btn-retangle($padding, $istextShadow, $isGrayscale) {
  @if $padding {
    padding: $padding;
  } @else {
    padding: 1rem;
  }
  display: block;
  outline: none;
  border: none;
  border-radius: 0.15rem;
  font-weight: 400;
  font-size: 1rem;
  @if $istextShadow == true {
    text-shadow: $text-shadow--black;
  }
  cursor: pointer;

  &:hover,
  &:focus {
    @if $isGrayscale == true {
      filter: grayscale(20%);
    }
    box-shadow: inset 0.02rem 0.04rem 0.2rem black;
  }
}

//TODO: 오버레이 위의 컨텐츠가 중앙을 유지하면서 스크롤 따라다니도록 수정
@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

// for dev

@mixin __dev_template {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vh;
  font-size: 20px;
}
