//- variables

//- color
$main-color--orange: #ff7300;
$main-color--light-orange: #ff9900;
$main-color--silver: #bebebe;
$main-color--white: #f5f5f5;
$main-color--black: #0f0f0f;

$login__font-color--before: $main-color--silver;
$login__font-color--after: rgb(245, 245, 245);

//- shadow
$text-shadow--black: 0.02em 0.04em 0.2em rgba(0, 0, 0, 0.5);
$text-shadow--white: 0.02em 0.04em 0.2em rgba(255, 255, 255, 0.5);
$box-shadow: 0.3vw 0.6vw 1.5vw rgba(0, 0, 0, 0.5);

//- length
$header-height: 85px; //TODO: 반응형으로 수정
$footer-height: 136px; //TODO: 반응형으로 수정
