article.login
    |
    |
    .login__title Login
    |
    |
    form(action="#").login__wrapper
        |
        |
        //- input의 minlegnth, maxlength 는 백엔드와 상의
        .login__input-box
            input(type="text" minlength="1" maxlength="20" required).login__input
            label.login__input-label Username
            span.login__input-check
        .login__input-box
            input(type="password" minlength="1" maxlength="20" required).login__input
            label.login__input-label Password
            span.login__input-check
        |
        |
        .login__btn
            input(type="submit" value="Sign In").login__login-btn
        .login__btn
            a(href="#").login__join-btn Create Account
        |
        |
        a(href="#").login__find-password forgot password?