article.login
    |
    |
    .login__label Login
    |
    |
    form.login__wrapper
        |
        |
        .login__input-box
            input(type="text" required).login__input
            label Username
        .login__input-box
            input(type="password" required).login__input
            label Password
        |
        |
        .login__btn
            input(type="submit" value="Sign In").login__login-btn
        .login__btn
            a(href="#").login__join-btn Create Account
        |
        |
        a(herf="#").login__find-password forgot password?