mixin postForm()
  .sub-contents__content-wrap
    .sub-contents__content
      h2.sub-contents__form-title board Form
      form(action="/acquisition/post" method="post").sub-contents__form
        .sub-contents__input-wrap.sub-contents__title-wrap
          h3.sub-contents__text-title.sub-contents__input-title 제목
          input(type="text" name="title" size="54" required)
        .sub-contents__input-wrap.sub-contents__file-wrap
          h3.sub-contents__file-title.sub-contents__input-title 파일
          input(type="file" name="file")
        .sub-contents__input-wrap.sub-contents__paragraph-wrap
          h3.sub-contents__paragraph-title.sub-contents__input-title 내용
          textarea(rows="5" cols="50" name="paragraph" required)
        input(type="submit" name="submit").sub-contents__submit