//- 이 파일은 index를 제외한 모든 페이지에서 호출 되므로 따로 
//- 본 파일에 명시된 mixin 은 따로 호출 안하시고 그냥 쓰시면 됩니다.
//- 현재 mixin 목록 - (게시판 쓰기 mixin, 게시판 목록 mixin, 아이콘 mixin)

//- -----------------------------------------------------------------------------------------------------------------
//- ------------------------------------------- 아이콘 관련 mixin ---------------------------------------------------
//- -----------------------------------------------------------------------------------------------------------------
include icon/_mixin_icons.pug

//- -----------------------------------------------------------------------------------------------------------------
//- ------------------------------------------- 게시글 관련 mixin ---------------------------------------------------
//- -----------------------------------------------------------------------------------------------------------------
include post/_mixin_postList.pug
include post/_mixin_postUpdate.pug
include post/_mixin_postView.pug
include post/_mixin_postWrite.pug