* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;

  p {
    color: white;
  }

  .image-test-wrapper {
    width: 100px;
    height: 100px;
    margin: 20px;

    * {
      width: 100%;
      height: 100%;
    }
    .image-test__first {
      content: url("../img/testbigone.jpg");
    }
    .image-test__second {
      content: url("../img/testsmallone.png");
    }
    .image-test__third {
      content: url("../img/testsmalltwo.png");
    }
  }
}
